# Core Application
PROJECT_NAME="AMD Platform API"

# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=amd_prod_db

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# ImageKit Credentials
IMAGEKIT_PUBLIC_KEY=your_public_key_here
IMAGEKIT_PRIVATE_KEY=your_private_key_here
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_endpoint/

# Firebase Configuration
FIREBASE_CREDENTIALS_PATH=./secrets/firebase-adminsdk.json
